APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:Z8iUB21q94/XoEGcXYT50yjsqdIMekZOq+Q4mZMygOg=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nsdomains
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

DYNADOT_API_KEY=o7i81Q716C6ugE9C8n7r7P9L7Dn6Z6e6w8s7Q8l8s8Y
GODADDY_API_KEY="gHpomdCTiyib_WBEpcx4kSuBdXfxfCjP3Fi:PZdC3omSCf6vsyTdafw9rd"
NAMECOM_API_KEY=07d5f0449659b7bb9eec7dcc92b2443cbdee4427

NAMECHEAP_API_KEY=e2a8150c87f04b68822bc65667b8910d
NAMECHEAP_USERNAME=JoshHill
NAMECHEAP_CLIENT_IP=127.0.0.1

PORKBUN_API_KEY=pk1_dbda633f30dc7b21711f9eba153088a6e8b5fb45017f826689e6d59a1f3a8627
PORKBUN_API_SECRET=sk1_16c02afc3ec516561793fcf42b99781ac7414373b82decda5448d269b4fd2da7

SPACESHIP_API_KEY=L5RC5eZdUax5BIELlH1M
SPACESHIP_API_SECRET=EXiz68H3hmFdxemS6oIMu8y9CXmioChc36aY1Qvm6qi92Lo66hpMHppYpcK8TQso

SAV_COM_API_KEY=lC5YdK2kVZHuZKOfv4HtXybY96ycw6nYFKuNlvb9

DOMAIN_PRICES_JSON_PATH=storage/app/namecheap.json